{% extends 'layout.html' %}
{% block content %}

{% include "modules/_navigation.html" %}
{% include "modules/_messages.html" %}

<div id="checkout-container" class="contain">
  
  <div id="checkout-header">
    <h5>
      Review your purchase
    </h5>
    <h3>
      {{ transaction.vendor.company_name }}
    </h3>
  </div>
  
  <div id="checkout-cart">
    {% for gp in transaction.gradient_prices %}
    <li class="cart-item">
      <figure class="cart-item-image">
        <img src="{{ gp.product.image_url }}">
      </figure>
      <div class="cart-item-meta">
        <h3 class="cart-item-title">{{ gp.product.name }}</h3>
        <div class="cart-item-quantity">qty: {{ gp.quantity }}</div>
        <div class="cart-item-price">{{ (gp.price/100) | currencyformat('USD') }}</div>
      </div>
    </li>
    {% endfor %}
    <div>
      In order to make changes to your purchase, please return to <a href="{{ requester_url }}">{{ transaction.vendor.company_name }}</a> and edit your cart.
    </div>
  </div>
  
  <div id="checkout-form">
    <div class="module">
      {% if cards.data is defined %}
      <div class="module-content">
        <div id="checkout-pay-button">
          <button type="button" id="checkout-pay">Complete Payment</button>
        </div>
      </div>
      {% endif %}
      <div class="module-content">
        <div id="checkout-info">
          <h6>Your total price:</h6>
          <h1 id="checkout-total">{{ (transaction.total/100) | currencyformat('USD') }}</h1>
        </div>
        
        <br>
        {% if cards.data is defined %}
        <div id="checkout-select-card-grid">
          <div id="checkout-card-label">
            <h6>Select your credit card:</h6>
          </div>
          <select id="select-card">
            {% for card in cards.data %}
            <option class="option-card" value="{{ card.id }}" {% if card.id == new_card_id %}selected{% endif %}>
                {{ card.brand }} ({{ card.last4 }}) - {{ card.name }}
              </div>
            </option>
            {% endfor %}
          </select>
          <a href="{{ url_for('checkout.add_card') }}">
            <div id="checkout-add-card">+</div>
          </a>
        </div>
        {% else %}
        <div id="checkout-add-card-container">
          <div>You have no cards. Please add a payment method to Checkout.</div>
          <a href="{{ url_for('checkout.add_card') }}">
            <button id="checkout-add-card">Add a card</button>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block scripts %}
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
  const pay_url = '{{ url_for("checkout.pay") }}';
  const pay_selector = '#checkout-pay';

  resize_images();

  stripe_checkout(pay_url, pay_selector);

</script>
{% endblock %}
