<div id="settings-module" class="content-pane">
  <div class="module">
    <div class="module-content">
      <div class="home-content-title"><h4>Settings</h4></div>
      <div class="home-content-options">
      </div>
    </div>
    <div class="module-content">
      <div class="home-property">
        <div class="home-property-label">Subscribed to Newsletter</div>
        <div class="home-property-value-container">
          <div class="home-property-value">
            {% if current_user.subscribe == True %}
            Subscribed
            {% else %}
            Not Subscribed
            {% endif %}
          </div>
        </div>
      </div>
      <div class="home-footer">
        <div class="home-action">
          {% if current_user.subscribe == True %}
          <a href="{{ url_for('customer.unsubscribe') }}">
            <div class="home-button">Unsubscribe</div>
          </a>
          {% else %}
          <a href="{{ url_for('customer.subscribe') }}">
            <div class="home-button">Subscribe</div>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="module">
    <div class="module-content">
      <div class="home-content-title"><h4>Account</h4></div>
      <div class="home-content-options">
      </div>
    </div>
    <div class="module-content">
      <div class="home-property">
        <div class="home-property-label">Email</div>
        <div class="home-property-value-container">
          <div class="home-property-value">
            {{ current_user.email }}
          </div>
        </div>
      </div>
      <div class="home-property">
        <div class="home-property-label">First Name</div>
        <div class="home-property-value-container">
          <div class="home-property-value">
            {{ current_user.first_name }}
          </div>
        </div>
      </div>
      <div class="home-property">
        <div class="home-property-label">Last Name</div>
        <div class="home-property-value-container">
          <div class="home-property-value">
            {{ current_user.last_name }}
          </div>
        </div>
      </div>
      <div class="home-property">
        <a href="{{ url_for('security.change_password') }}"><div class="home-property-label">Change Password</div></a>
        <div class="home-property-value-container">
          <div class="home-property-value">
            *****
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
