{% extends 'layout.html' %}
{% block content %}
<div class="contain">

  {% if current_user.confirmed_at is none %}
  <div class="notice-module">
    Please confirm your email address at <a>{{ current_user.email }}</a>. 
    You can also <a href="{{ url_for('security.send_confirmation') }}">resend the confirmation email.</a>
  </div>
  {% endif %}

  {% if (current_user.account.individual_income == None)
     and (current_user.account.household_income == None) %}
  <div class="notice-module">
    <a href="{{ url_for('customer.onboarding') }}">In order for us to lower prices to fit your financial need, we need to ask some basic questions about your income.</a>
  </div>
  {% else %}

  <div class="header">
    <div class="user-greeting">
      <div class="user-icon">
        <img src="{{ url_for('static', filename='images/customer-icon.svg') }}">
      </div>
      <h4 class="user-text">
        <div id="home-name">
          {{ current_user.first_name }} {{ current_user.last_name }}
        </div>
      </h4>
    </div>
    <div class="user-nav mobile-only">
      {% include "modules/_hamburger.html" %}   
    </div>
  </div>

  <div id="account-content">
    {% set endpoint = request.url_rule.endpoint %}
    <div id="account-side-pane">
      <a href="{{ url_for('customer.purchases') }}">
        <div class="side-el {% if endpoint == 'customer.purchases' %}active{% endif %}">Purchases</div>
      </a>
      <a href="{{ url_for('customer.income') }}">
        <div class="side-el {% if endpoint == 'customer.income' %}active{% endif %}">Income Info</div>
      </a>
      <a href="{{ url_for('customer.settings') }}">
        <div class="side-el {% if endpoint == 'customer.settings' %}active{% endif %}">Settings</div>
      </a>
      <br>
      <hr>
      <br>
      <div class="side-el">Send us feedback</div>
      <div class="side-el">Contact</div>
      <a href="{{ url_for('main.index') }}"><div class="side-el">Home Page</div></a>
      <a href="{{ url_for('security.logout') }}"><div class="side-el">Logout</div></a>
    </div>

    <div id="account-content-pane">
      {% if endpoint == 'customer.purchases' %}
        {% include "account/customer/_purchases.html" %}
      {% elif endpoint == 'customer.income' %}
        {% include "account/customer/_income.html" %}
      {% elif endpoint == 'customer.settings' %}
        {% include "account/customer/_settings.html" %}
      {% endif %}
    </div>

  </div>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
  setup_account();
</script>
{% endblock %}
