files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/91_upgrade_db.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      cd /opt/python/current/app
      source /opt/python/run/venv/bin/activate
      source /opt/python/current/env
      if [[ -z $(FLASK_APP=application.py flask db current) ]]; then
        FLASK_APP=application.py flask db stamp
      fi
      FLASK_APP=application.py flask db upgrade
