body.checkout

  background-color: $light-gray

  #checkout-container
    display: grid
    @include desktop
      grid-template-columns: 1fr 1fr
      grid-template-rows: auto auto
      grid-template-areas: "header header" "cart form"
    @include phone
      grid-template-columns: 1fr
      grid-template-rows: auto auto auto
      grid-template-areas: "header" "cart" "form"
    
    #checkout-header
      grid-area: header
      margin-bottom: 2em
    
    #checkout-cart
      grid-area: cart
      
      .cart-item
        display: grid
        grid-template-columns: 1fr 2fr
        margin-bottom: 2rem 
        .cart-item-image
          background: $blue
          width: 14em
          height: 14em
          overflow: hidden
          position: relative
          img
            width: 100%
            position: absolute
            top: 50%
            left: 50%
            transform: translateY(-50%) translateX(-50%)
        .cart-item-meta
          padding: 0.5em 1.5em
          .cart-item-title,
          .cart-item-price
            margin: 0 0 1em 0
            line-height: 1.4
            
    #checkout-form
      grid-area: form
      text-align: center
      .module 
        @include desktop
          max-width: 20em
          float: right
        @include phone
          width: 100%
        .checkout-info
          margin: 0 0 1em 0
        .checkout-total
          font-size: 1.6em
          margin: 0.2em 0 0 0
          border-bottom: 1px solid $black
          display: inline-block
          padding-bottom: 0.1em
        .checkout-card-grid
          display: grid
          grid-template-columns: 1fr auto
          grid-template-rows: auto auto 
          grid-template-areas: "label label" "selector add-card"
          grid-row-gap: 0.5em
          grid-column-gap: 0.5em
          #checkout-card-label
            grid-area: label
          #select-card
            grid-area: selector
            height: 2.5em
            line-height: 2.5em
            padding: 0em 0.5em
            font-size: 0.9em
            -webkit-appearance: menulist
          #checkout-add-card
            cursor: pointer
            grid-area: add-card
            color: $blue
            font-size: 2.0em
        #checkout-pay-button
          text-align: center
          #checkout-pay
            width: 100%


