{% from "modules/_form_fields.html" import render_field_with_errors, render_field %}

{% extends 'layout.html' %}
{% block content %}
{% include "modules/_navigation.html" %}
<div id="security-module">
  <div class="module">
    <div>{{ _('Login to Gradient') }}</div>
    <br>
    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
      {{ login_user_form.hidden_tag() }}
      {{ render_field_with_errors(login_user_form.email) }}
      {{ render_field_with_errors(login_user_form.password) }}
      {{ render_field_with_errors(login_user_form.remember, label=True) }}
      {{ render_field(login_user_form.next) }}
      {{ render_field(login_user_form.submit) }}
    </form>
    {% include "modules/_security_menu.html" %}
  </div>
</div>
{% endblock %}
