{# navigation for all non-account pages #}

<header class="{{ request.endpoint|replace('.', ' ') }}">
  <div class="contain">
    
    <div class="nav-el">
      <a href="/">
        <img src="{{ url_for('static', filename='images/logo-blue-icon.png') }}">
      </a>
    </div>
    
    <div id="nav-menu-button" class="nav-el mobile-only">
      {% include "modules/_hamburger.html" %}   
    </div>
    
    <div id="nav-options-container">
      <div id="nav-options">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('user.account') }}"><div class="nav-option">My Account</div></a>
        {% else %}
          {% if (request.url_rule.endpoint != 'customer.register') 
             and ('security' not in request.url_rule.endpoint)
             and (request.url_rule.endpoint != 'customer.setup')
             and (request.url_rule.endpoint != 'vendor.register') %}
            <a href="{{ url_for('main.faq') }}">
              <div class="nav-option">FAQ</div>
            </a>
            <a href="mailto:info@gradient.care" target="_top">
              <div class="nav-option">Contact</div>
            </a>
            <a href="/login">
              <div class="nav-option">Login / Register</div>
            </a>   
          {% else %}
            <a href="{{ url_for('main.index') }}">
              <div class="nav-option">Back</div>
            </a>
          {% endif %}
        {% endif %}
      </div>
    </div>
    
  </div>
</header>
